# Secrets
conjur/conjur-quickstart/data_key
conjur/conjur-quickstart/admin_data
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
conjur/conjur-quickstart/